{% extends "base.html" %}
{% block content %}
    <div class="section"/>
        <h3>Thomas Kunc</h3>
    </div>
    <div class="section"/>
        <h4>Bio</h4>
        <p>My Name is Thomas Kunc. I'm a software developer, based in Sydney. I currently study Computer Science at UNSW; and is a Casual Academic at UNSW and Developer at Kinesis.
        I mainly work in python, but also know C. </p>
    </div>
    <div class="divider"></div>
    <div class="section"/>
        <h4>Education</h4>
        <div class="row">
            {% for card_name, card in education.items() %}
              <div class="col s12 m6 l4">
                <div class="card medium">
                  <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{ static_url(card['image']) }}">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator">{{ card_name }}</span>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">
                      {{ card_name }}
                    </span>
                    <i>{{ card['time'] }}</i><br/>
                    <span>{{ card['desc'] }}</span>
                  </div>
                </div>
              </div>
            {% endfor %}
            
        </div>
    </div>

    <div class="divider"></div>
    <div class="section"/>
        <h4>Experience</h4>
        {% for cat_name, category in experience.items() %}
            <h5>{{cat_name}}</h4>
            <div class="row">
            {% for card_name, card in category.items() %}
              <div class="col s12 m6 l4">
                <div class="card medium">
                  <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{ static_url(card['image']) }}">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator">{{ card_name }}</span>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4 activator">
                        {{ card_name }}
                    </span>
                    <i>{{ card['time'] }}</i><br/>
                    <span>{{ card['desc'] }}</span>
                  </div>
                </div>
              </div>
            {% endfor %}
        </div>
    {% endfor %}
    <div class="divider"></div>
    <div class="section">
        <h4>Tech Skills</h4>
    </div>

</div>
{% endblock %}
