{% extends "base.html" %}
{% block head %}
<style>
.large-title {
  font-size: 1.5em;
}
</style>
{% endblock %}
{% block content %}
    <div class="section"/>
        <h3>Thomas Kunc</h3>
    </div>
    <div class="section"/>
        <h3>Bio</h3>
        <span class="flow-text">
          {{ bio_md|safe }}
        </span>
    </div>
    <div class="divider"></div>
    <div class="section"/>
        <h3>Education</h3>
        <div class="row">
            {% for card_name, card in education.items() %}
              <div class="col s12 m6 l4">
                <div class="card medium">
                  <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{ static_url(card['image']) }}">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator">{{ card_name }}</span>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{ card_name }}</span>
                    <i>{{ card['time'] }}</i><br/>
                    <span>{{ card['desc']|safe }}</span>
                    <div class="card-action">
                      {% for link in card['links'] %}
                        <a href="{{ url_for('experience', name=card['links'][link]) }}">{{link}}</a>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
            
        </div>
    </div>

    <div class="divider"></div>
    <div class="section"/>
        <h3>Experience</h3>
        {% for cat_name, category in experience.items() %}
            <h5>{{cat_name}}</h3>
            <div class="row">
            {% for card_name, card in category.items() %}
              <div class="col s12 m6 l4">
                <div class="card medium">
                  <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{ static_url(card['image']) }}">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator">{{ card_name }}</span>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4 activator">
                        {{ card_name }}
                    </span>
                    <i>{{ card['time'] }}</i><br/>
                    <span>{{ card['desc']|safe }}</span>
                    <div class="card-action">
                      {% for link in card['links'] %}
                        <a href="{{ url_for('experience', name=card['links'][link]) }}">{{link}}</a>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
        </div>
    {% endfor %}
    <div class="divider"></div>
    <div class="section">
        <h3>Tech Skills</h3>
            <div class="row">
            {% for card_name, card in skills.items() %}
              <div class="col s6 m4 l2">
                <div class="card small">
                  <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{ static_url(card['image']) }}">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator">{{ card_name }}</span>
                  </div>
                </div>
              </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
