{% extends "base.html" %}
{% block content %}
   <h2></h2>
    <div class="divider"></div>
    <div class="section"/>
        <h4>My Projects</h4>
        <div class="row">
          {% for project in projects %}
            <div class="col s12 m6 l6">
              <div class="card large">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="{{ static_url(project['image']) }}">
                </div>
                <div class="card-content">
                  <span class="card-title">{{ project['name'] }}</span>
                  <span>{{ project['desc'] }}</span>
                </div>
                {% if project['links'] %}
                  <div class="card-action">
                  {% for link in project['links'] %}
                     <a href="{{ project['links'][link] }}">{{link}}</a>
                  {% endfor %}
                  </div>
                {% endif %}
              </div>
            </div>
           {% endfor %}
        </div>
    </div>
{% endblock %}
